# Dependencies
node_modules
.pnp
.pnp.js

# Production build artifacts
dist
dist-ssr
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Environment variables & Secrets
.env
.env.production
.env.development
.env.local
.env.*.local

# Editor & IDE directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
scratch/
.temp/
